Host bastion
   User ${user}
   IdentityFile ${ssh_key_path}
   HostName ${bastion_ip}

%{ for index, db in db_servers ~}
Host galera${index}
   User ${db_user}
   HostName ${db.private_ip}
%{ endfor ~}


%{ for index, maxscale in maxscale_servers ~}
Host maxscale${index}
   User ${db_user}
   HostName ${maxscale.private_ip}
%{ endfor ~}